.home {
  width: 68%;
  height: 100%;
  float: right;
  color: var(--main-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home > h1 {
  font-size: 117px;
  font-family: "Cinzel Decorative", cursive;
}

.home > div {
  font-family: "Solway", serif;
}

.home > div > span {
  font-size: 80px;
}

.home > div > p {
  font-size: 52px;
}

.home > button {
  font-family: "Notable", sans-serif;
  font-size: 30px;
  background-color: var(--main-color);
  color: var(--main-bg);
  border: 2px solid var(--main-color);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 30px;
}

.home > button:hover {
  color: var(--main-color);
  background-color: var(--main-bg);
}
