@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Notable&family=Solway&display=swap");

:root {
  --main-bg: #2c3639;
  --main-color: #dcd7c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
